.tree-viewer {
  list-style-type: none;
  padding-left: 1rem;
  user-select: none;
  width: fit-content;
}

.tree-viewer--hidden {
  display: none;
}

.tree-viewer__directory-name {
  cursor: pointer;
}

.tree-viewer__file {
  color: #0284c7;
}

.tree-viewer__file-size {
  color: #737373;
}

/* ---------------------- */

.market {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.market-header {
  display: flex;
  max-width: 600px;
  gap: 64px;
  margin-left: auto;
  margin-right: auto;
}

.order-form {
  display: flex;
  flex-direction: column;
  max-width: 16rem;
}

.order-dashboard {
  display: flex;
  gap: 8px;
  width: 100%;
}

.buy-orders {
  flex: 1;
}

.sell-orders {
  flex: 1;
}

.fulfilled-orders {
  flex: 1;
}

.order-list {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.order {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
